.about-card {
  display: grid;
  grid-template-columns: repeat(9, minmax(0,1fr));
  grid-template-rows: repeat(9, minmax(0,1fr));
  height: 560px;
  width: 1100px;
  max-width: 1536px;
  color: whitesmoke;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.pic{
  grid-row: 1 / span 2;
  grid-column: 1 / span 3;
  height: 150px;
  width: 150px;
  background-color: #CACACA;
  justify-self: self-end;
  margin: 10px;
  border-radius: 25px;
  position: relative;
  z-index: -1;
  margin-right: 20%;
}

.blob{
  grid-column: 2 / span 7;
  grid-row: 1 / span 5;
  margin:10px;
  fill:#657ba6;
  position: relative;
  z-index: 1;
}

.star{
  grid-column: 1 / span 2;
  grid-row: 2 / span 4;
  height: 95px;
  width: auto;
  fill: #f2f2f2;
  justify-self: self-end;
  align-self: center;
  margin-right: 20%;
  position: relative;
  z-index: 3;
}

.about-card h2 {
  margin-top: 40px;
  grid-column: 3 / span 6;
  grid-row: 1 / span 5;
  text-align: center;
  font-size: 45px;
  font-family: josefin slab;
  font-weight: bold;
  position: relative;
  z-index: 2;
}

.about-card p {
    grid-column: 3 / span 6;
    grid-row: 1 / span 5;
    text-align: left;
    font-size: 20px;
    margin: 100px 40px 30px 40px;
    font-family: maven pro;
    line-height: 1.2;
    position: relative;
    z-index: 2;
  }


.contact {
    grid-column: 7 / span 2; 
    grid-row: 5 / span 3;   
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: self-start;
    z-index: 10;
}

.contact h3{
    text-align: center;
    margin: 20px;
    justify-self: center;
    font-size: 40px;
    font-family: josefin slab;
    font-weight: bold;
    position: relative;
    z-index: 2;
}

.contact ul {
  margin: 0px ;
  text-align: left;
  font-size: 15px;
  font-family: maven pro;
  position: relative;
}

a {
  color: #f2f2f2;
  padding: 2px 0;
  display: inline-block;
}

.star, .blob, .blob2, .base, .base2 {
    pointer-events: none;
}

.Techstack {
  grid-row: 8 /span 2;
  grid-column: 3 / span 2;
  font-size: 40px;
  font-family: josefin slab;
  font-weight: bold;
  margin-top:70px;
  position: relative;
  z-index: 3;
}

.base{
  grid-row: 4 /span 5;
  grid-column: 1 / span 4;
  fill:#95a7bf;
  position: relative;
  margin-top: 15%;
  margin-left: 20%;
  z-index: 3;
}

.Tools {
  grid-column: 7 / span 2; 
  grid-row: 9 / span 2; 
  justify-self: start; 
  align-self: end;
  margin: 0;
  font-size: 55px;
  color: #242623;
  font-family: josefin slab;
  font-weight: bold;
  position: relative;
  z-index: 5;
}

.blob2 {
  grid-row: 5 /span 5;
  grid-column: 5 / span 4;
  height: 80%;
  width: auto;
  position: relative;
  z-index: 3;
  margin: 20% 5% 0px 0px;
  justify-self: center;
  fill: #cacaca;

}

.base2{
  grid-column: 5 / span 3;
  grid-row: 5 / span 4;
  position: relative;
  margin: 10% 15% 5% 0px;
  z-index: 4;
  height: 95%;
  width: auto;
  fill:#bbb;
}

.a1{ 
  height: 40px;
  width: auto;
  fill: #242623;
}
.t1{
  grid-column:1/ span 3;
  grid-row: 7/ span 2;
  position: relative;
  z-index: 7;
  align-self: end;
  justify-self: center;
  margin-right: 50px;
}

.a2{
  fill:none;
  height: 70px;
  width: auto;
  stroke:#333;
  stroke-miterlimit:10;
  stroke-width:3.84px;
  margin-right: 40px;
  margin-bottom: 10px;
}

.t2{
  grid-column:2/ span 2;
  grid-row: 5/ span 2;
  position: relative;
  z-index: 7;
  justify-self: center;
  align-self: center;
}

.t2 .tooltip{
  margin-bottom: 20px;
  position: relative;
  z-index: 8;
}

.a3{
  height: 70px;
  width: auto;
  margin-top: 20px;
  margin-right:55px;
}

.t3{
  grid-column:3/ span 2;
  grid-row: 6/ span 3;
  position: relative;
  z-index: 7;
}

.a4{
  width: auto;
  fill:none;
  height:60px;
  margin-top: 30px;
  margin-right: 120px;
}

.t4{
  grid-column:4/ span 2;
  grid-row:4/ span 3;
  position: relative;
  z-index: 8;
  justify-self: end;
  align-self: center;
  }

.b1{ 
  height: 65px;
  width: auto;
  fill:none;
  stroke:#657ba6;
  stroke-miterlimit:10;
  stroke-width:3px;
  margin-top: 10px;
  margin-right: 5px;
}

.t5{
  grid-column:5/ span 1;
  grid-row: 5/ span 4;
  position: relative;
  z-index: 8;
  justify-self: start;
  align-self: end;
  margin-bottom: 40px;
}

.t5 .tooltip{
  margin-bottom: 20px;
}

.b2{
  height: 70px;
  width: auto;
}

.t6{
  grid-column:5/ span 2;
  grid-row: 5/ span 3;
  position: relative;
  z-index: 8;
  justify-self: end;
  align-self: center;
  margin-left: 100px;
  margin-bottom: 40px;
}

.b3{
  height: 65px;
  width: auto;
}
.t7{
  grid-column:6/ span 2;
  grid-row: 6/ span 3;
  position: relative;
  z-index: 8;
  justify-self: center;
  align-self: center;
  margin-top: 90px;
  margin-right: 30px;
}

.t7 .tooltip{
  margin-bottom: 10px;
}

.about-card:hover::after {
  opacity: 1;
}

.tooltip {
  background: #1a1a1a;
  color: white;
  font-family: 'maven pro', sans-serif;
  font-size: 14px;
  opacity: 0; 
  transition: all 0.3s ease;
  z-index: 10; 
  pointer-events: none;
  border-radius: 10px;
  padding: 5px;
}

.t1:hover, .t2:hover, .t3:hover, .t4:hover, .t5:hover, .t6:hover, .t7:hover {
  z-index: 10; 
}

.t1:hover .tooltip, 
.t2:hover .tooltip, 
.t3:hover .tooltip, 
.t4:hover .tooltip, 
.t5:hover .tooltip, 
.t6:hover .tooltip, 
.t7:hover .tooltip {
  opacity: 1;
  transform: translateX(-50%) translateY(-5px); 
}

body {
  background-color: #242623;
}